<div class="side-bar">
  <div class="side-bar-header">
    <%= cl_image_tag current_user.photo.key, height: 100, width: 100, crop: :fill %>
    <p>Username: <%= current_user.username %></p>
    <p>
      <%= current_user.team.name %>
    </p>
    <p>
      Vault: <%= current_user.team.diamonds %>
    </p>
    <ul>
      <li> <%= link_to "Overview", root_path(@team) %> </li>
      <li> <%= link_to "Proposals", team_proposals_path(@team) %> </li>
      <li> <%= link_to "Projects", team_projects_path(@team) %> </li>
      <li> <%= link_to "Clients", team_proposals_path(@team) %> </li>
      <li> <%= link_to "Profile", edit_user_registration_path(@team) %> </li>

    </ul>
  </div>

  <%= link_to "Find projects", projects_path, class: "btn btn-primary" %>
  <%= link_to "Create project", new_project_path %>
</div>
