<h1>Create your project</h1>

<div class="my-container">
  <div class="big-card">
    <%= simple_form_for @project do |f| %>
      <%= f.input :name, class: "form-field" %>
      <%= f.input :description, class: "form-field" %>
      <%= f.input :finders_fee, class: "form-field" %>
      <%= f.label :private do %>
        <%= f.check_box :private %>
          private
        <% end %>
      <%= f.association :categories, collection: Category.order("name"),required: true, input_html: { multiple: true }, include_blank: false, include_hidden: false, as: :check_boxes %>
      <%= f.input :project_members, collection: User.where(team: current_user.team), :label_method => :first_name,  required: true, input_html: { multiple: true }, include_blank: false, include_hidden: false, as: :check_boxes %>
      <%= f.button :submit, class: "primary-button" %>
    <% end %>
  </div>
</div>
