<div class="my-container">
  <div class="big-card">
    <%= simple_form_for [@team,@proposal] do |f| %>
      <%= f.input :title, class: "form-field" %>
      <%= f.input :overview, class: "form-field" %>
      <%= f.input :goals, class: "bg-black" %>
      <%= f.input :total_price, class: "bg-black" %>
      <%= f.input :expiry_date, class: "bg-black" %>
      <%= f.association :teams_project, collection: @teams_projects, class: "bg-black" %>
      <%= f.simple_fields_for :client do |client| %>
        <%= render 'client_fields', :f => client %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add client', f, :client %>
      </div>
      <%= f.simple_fields_for :proposal_deliverables do |deliverable| %>
        <%= render 'proposal_deliverable_fields', :f => deliverable %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add deliverable', f, :proposal_deliverables %>
      </div>
      <%= f.button :submit, class: "primary-button" %>
    <% end %>
  </div>
</div>
