<div class="my-container">
  <div class="a4-card">
    <%= simple_form_for [@team,@proposal] do |f| %>
    <div class="minimal-proposal-header">
      <h1><%= f.text_area :title, class: "form-field", label: false, placeholder: "Title of the project", id: "proposal_title" %></h1>
      <div class="right-side-header">
        <span>
          <strong>Sent on:</strong> <%= Date.today %>
        </span>
        <span class="expiry-date-minimal">
          <strong>Expiry date:</strong><%= f.input :expiry_date, label: false, id: "expiry-date-minimal" %>
        </span>
        <%= f.association :teams_project, selected: "Project", collection: @teams_projects, class: "bg-black", label: false  %>
        <%= f.association :client,
                          collection: Client.order("company_name"),
                          :label_method => :company_name,
                          label: false,
                          include_blank: false,
                          include_hidden: false,
                          placeholder: "Select a client",
                          input_html: { class: "selectize", multiple: true}
                          %>
      </div>

    </div>
     <h3 class="minimal_proposal">Overview</h3>
      <%= f.input :overview, class: "form-field", label: false, placeholder: "Overview of the project"  %>
     <h3 class="minimal_proposal">Goals</h3>
      <%= f.input :goals, class: "bg-black", label: false, placeholder: "Goals of the project" %>
    <h3 class="minimal_proposal">Deliverables</h3>
      <%= f.simple_fields_for :proposal_deliverables do |deliverable| %>
      <!-- deliverables -->
        <%= render 'proposal_deliverable_fields', :f => deliverable %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add deliverable', f, :proposal_deliverables %>
      </div>
       <!-- End deliverables -->
       <div class="">
          <p>Total Price</p>
          <%= f.input :total_price, class: "bg-black", label: false, placeholder: "total price of the project"  %> excl. taxes
       </div>
      <%= f.button :submit, class: "primary-button" %>
    <% end %>
  </div>
</div>
<!-- cleint modal -->
<%= render 'client_modal' %>
<!-- end Modal -->



