<!DOCTYPE html>
<html>
  <head>
    <title>MoonstraMinimal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if controller_name == "dashboards" %>
    <%= render 'shared/sidebar' %>
    <% else %>
    <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <% if controller_name == "dashboard" %>
    <div class="dashboard-wrapper">
      <%= yield %>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
